{% extends 'base.html' %}
{% import 'macros.html' as macros%}


<body>
    {% block content %}
    <div class="container-fluid quotes">
        <div class="row">
            <div class="col-md-12" style="background-color: #DCE1E3;">
                <h4 class="text-center">Quotes</h4>
                <p class="text-center">"{{quote}}"</p>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid display">
            <div class="card-deck">
                <div class="card border-primary display">
                    <div class="card-header bg-transparent border-primary">
                        <h4> <strong> Sports Blogs</strong></h4>
                    </div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Latest Sports Blogs</h5>
                        <p class="card-text">Covers all the top sports as well as fantasy leagues. 
                            In addition to sports coverage, opinion pieces and predictions over 
                            football, hockey, and soccer and other sports can be found.
                        </p>
                    </div>
                    
                </div>
        
                <div class="card border-primary display">
                    <div class="card-header bg-transparent border-primary">
                        <h4> <strong> Travel Blogs</strong></h4>
                    </div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Get the Latest Travel Articles</h5>
                        <p class="card-text">
                            I’ve realized that it’s been a while since I last talked about the best travel blogs 
                            out there — the ones I read — so I wanted to take a moment and highlight some of my 
                            favorite travel blogs that can also help you travel better, cheaper, and smarter. 
                        </p>
                    </div>
                   
                </div>
        
                <div class="card border-primary display">
                    <div class="card-header bg-transparent border-primary">
                        <h4> <strong> Fitness Blogs</strong></h4>
                    </div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Get the Best Fitness Articles</h5>
                        <p class="card-text">
                            Most of us are well aware of the many health benefits of exercise, but 
                            finding the discipline to not only start training but to also stick with 
                            it is often the hard part.
                        </p>
                    </div>
                    
                </div>
 
        </div>
    </div>
    {% endblock  %}
</body>
