{% macro displayPitches(list) %}
{% for pitch in list %}

<div style="background-color:#b3d7ef;" class="card">
    <article class="media content-section">
        <div class="card-title">
            <div class="article-metadata">
             
            </div>
            <div class="card-body">
            
            <h4 >Category: {{ pitch.category }}</h4>
            <small style="font-size: larger;"> {{ pitch.title }} </small>
            
            <p style="font-size: larger;"> {{ pitch.content }}</p>
          
            <br>
            <div><a href="{{ url_for('main.new_comment',id=pitch.id) }}"> 
                <button class="btn btn-outline-info btn-sm">Comment</button> </a> </div>
            
            </div>
            <br>
        </div>
    </article>
    
</div>   
<br>


{% endfor %}
{% endmacro %}